.ant-layout-header {
  height: 64px;
  line-height: 64px;
  border-bottom: 1px solid #f0f0f0;
  background-color: #ffffff;
}

.ant-layout-sider {
  border-right: 1px solid #f0f0f0;
  background-color: #ffffff;
}

.ant-layout-content {
  margin: 16px;
  padding: 24px;
  background: #fff;
  min-height: 280px;
}

.ant-layout-sider-trigger {
  background: #ffffff;
}